@import "./variables";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');


html, body {

    color: $colourPrimary;
    font-family: $mainFont;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.wrapper-grid {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

header{
    background-color: $backgroundColour;
    padding: 16px;

    .container{
        display: flex;
        gap: 70px;
        align-items: center;
        justify-content: space-between;
    
        .menu-bars{
            font-size: 25px;
            border: none;
            background-color: transparent;
    
            @media (min-width: 992px){
                display: none;
            }
        }
    }


    .menu{
        display: none;
        flex: 1;
        @media (min-width: 992px){
            display: block;
        }

        .top-menu{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            border-bottom: 1px solid $lineColour;
            padding-bottom: 10px;

            @media(min-width: 1200px){
                justify-content: space-between;
            }

            .contact-info{
                display: none;
                align-items: center;

                @media(min-width: 1200px){
                    display: flex;
                }

                .content-box{
                    padding-right: 25px;
                    margin-right: 30px;
                    border-right: 1px solid $lineColour; 
                    font-family: $mainFont;
                    font-size: 15px;
                    font-weight: 300;

                    i{
                        font-size: 1.2em;
                    }

                    &.last{
                        border: none;
                    }
                }
            }

            .socialmedia{


                a{
                    color:#191919;
                    font-size: 1.2em;

                    &:hover{
                        color: #908c8c;
                    }

                    i:hover{

                        animation: flash 1300ms infinite;
        
                        @keyframes flash {
                            0%{
                                transform: scale(1);
                            }
                    
                            50%{
                                transform: scale(0.8);
                            }
                    
                            100%{
                                transform: scale(1);
                            }
                        }        
                    }
                }
                
            }               
        }

        .mainmenu{
            display: flex;
            justify-content: space-between;
            align-items: center;

            nav{

                a{
                    display: inline-block;
                    color: $colourPrimary;
                    text-decoration: none;
                    margin-right: 30px;
                    position: relative;

                    &.active::after,
                    &:hover::after{
                        content:'';
                        position: absolute;
                        font-weight: 500;
                        height: 2px;
                        width: 15px;
                        background-color: #191919;
                        left: 50%;
                        bottom: -3px;
                        transform: translate((calc(50% - 15px)));

                    }
                }
            }

            .btn-login{
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}

.btn-ylw{
    font-family: $mainFont;
    background-color: $buttonColour;
    border: 1px solid $buttonColour;
    color: $colourPrimary;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, text-decoration 0.25s ease-in-out, border 0.2s ease-in-out;


    i{
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover{
        background-color: $colourPrimary;
        border: 1px solid $colourPrimary;
        color: $backgroundColour;
        text-decoration: underline;
    }
}

.btn-transparent{
    font-family: $mainFont;
    background-color: transparent;
    border: 1px solid $colourPrimary;
    color: $colourPrimary;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, text-decoration 0.25s ease-in-out;


    i{
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover{
        background-color: $colourPrimary;
        border: 1px solid $colourPrimary;
        color: $backgroundColour;
        text-decoration: underline;
    }
}

.btn-blk{
    font-family: $mainFont;
    background-color: #191919;
    border: 1px solid $colourPrimary;
    color: white;
    text-decoration: none;
    padding: 15px 25px;
    font-weight: 600;
    border-radius: 25px;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out, text-decoration 0.25s ease-in-out;

    i{
        margin-left: 8px;
        font-size: 0.9em;
    }

    &:hover{
        background-color: white;
        border: 1px solid $colourPrimary;
        color: #191919;
        text-decoration: underline;
    }
}

.section-title{
    padding-top: 120px;
    padding-bottom: 90px;

    p{
        color: #F94D1C;
        font-family: $mainFont;
        font-size: 18px;
        font-weight: 500;
    }

    h2{
        color: #191919;
        font-family: $headFont;
        font-size: 45px;
        font-weight: 700;
    }
}

.showcase{
    background-color: $backgroundColour;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .content{
            
            padding-top: 80px;
            padding-bottom: 80px;
            text-align: center;

            h1{
                font-family: $headFont;
                font-weight: 700;
                font-size: 45px;

                @media (min-width: 768px){
                    font-size: 70px;
                }

                @media (min-width: 1400px){
                    font-size: 85px;
                }
            }

            p{

                font-size: 14px;
                padding-top: 35px;
                padding-bottom: 50px;

                @media (min-width: 768px){
                    font-size: 20px;
                }


            }

            a{
                display: block;
                margin-bottom: 20px;
                margin-right: 0px;
                
                @media (min-width: 768px){
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }

        img{
            display: none;
            margin-right: -50px;

            @media (min-width: 1200px){
                display:block;
            }
        }
    }
}

.showcase-contacts{
    background-color: $backgroundColour;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .content{
            
            padding-top: 80px;
            padding-bottom: 80px;
            text-align: center;

            h1{
                font-family: $headFont;
                font-weight: 700;
                font-size: 45px;

                @media (min-width: 768px){
                    font-size: 70px;
                }

                @media (min-width: 1400px){
                    font-size: 85px;
                }
            }

            p{

                font-size: 14px;
                padding-top: 35px;
                padding-bottom: 50px;

                @media (min-width: 768px){
                    font-size: 20px;
                }


            }

            a{
                display: block;
                margin-bottom: 20px;
                margin-right: 0px;
                
                @media (min-width: 768px){
                    display: inline-block;
                    margin-right: 10px;
                }
            }
        }

        ul.breadcrumbs{
            padding: 10px 16px;
            list-style: none;

            li{
                display: inline;
                font-size: 16px;
                a{
                    color:#191919;
                }

                a:hover{
                    color:#6A6C71;
                    text-decoration: underline;
                }
            }
        }

        img{
            display: none;
            position: absolute;
            left: 0;
            bottom: 0;


            @media (min-width: 1200px){
                display:block;
            }
        }
    }
}

.company-logos{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .container{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        gap: 70px;
        align-items: center;
        justify-content: space-between;

            a{
                margin-right: 0px;

                img:hover{

                    animation: flash 1300ms infinite;
    
                    @keyframes flash {
                        0%{
                            transform: scale(1);
                        }
                
                        50%{
                            transform: scale(0.8);
                        }
                
                        100%{
                            transform: scale(1);
                        }
                    }        
                }
            }
        }

        img{
            display: none;
            margin-right: 0px;

            @media (min-width: 1200px) {
                display: block;
            }
        }
    }

.features-box{
    border: 1px solid #bbb5b580;
    padding: 120px;
    display: none;
    margin-bottom: 100px;

    .section-title{
        padding-top: 0px;

        .btn-ylw{
            margin-top: 25px;
            width: 100%;
        }
    }

    @media (min-width: 1200px) {
        display: flex;
        max-width: 1520px;

        .container{
            gap: 30px;
            align-items: center;
            justify-content: space-between;
        }
    }

    .features-box-child{
        display: grid;
        grid-template-columns: repeat(auto-fill, 1fr 1fr);
        column-gap: 15px;
        row-gap: 10px;
        padding-right: 70px;
    }

    .features-grid-parent{
        display: grid;
        grid-template-columns:  1fr 1fr;

        i{
            font-size: 25px;
            padding-bottom: 20px;
            color: $colourPrimary;
        }

        .span1{
            font-weight: 700;
            color: $colourPrimary;
            padding-bottom: 10px;
        }

        .span2{
            color: $colourSecondary;
        }
    }
}   

.founder-box{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    .blue-box-parent{
        display:none;
        position: relative;
        width: 1320px;
        height: 615px;
        justify-content: center;
       
    
        @media (min-width: 1200px) {
            display: flex;
        }
    
        img{
            height: 615px;
            width: auto;
    
        }
    
        .blue-box{
            width: 368px;
            height: 180px;
            padding:20px;
            background-color: #BEEBFF;
            border: #BEEBFF solid 2px;
            position: absolute;
            bottom: 15px;
            left: 8px;
            font-family: $mainFont;
            font-weight: 400;
            color: #191919;
    
            .span-name{
                font-size: 18px;
                font-weight: 600;
            }
    
            .span-orange{
                color: #F94D1C;
                font-size: 16px;
                font-weight: 500;
            }
        }
    
        .about-company-box{
            width: 532px;
            height: 589px;
            margin-left: 150px;
    
            .section-title{
                padding-top: 70px;
                padding-bottom: 0px;
            }
    
            .about-company-lorem1{
                opacity: 0.7;
                padding-bottom: 30px;
                padding-top: 30px;
            }
    
            .about-company-lorem2{
                opacity: 0.7;
                padding-bottom: 30px;
            }

            .btn-intro{
                background-color: white;
                border: none;
                text-align: center;
                color: #191919;
                text-decoration: none;

                span{
                    margin-right: 10px;
                    margin-left: 25px;
                    padding: 0px;
                    border-radius: 50%;
    
                    i{
                        padding: 1rem;
                        border: 1px solid #191919;
                        border-radius: 50%;

                        &:hover{
                            background-color: #191919;
                            border:#191919 solid 2px;
                            color: white;
    
                        }
                    }
                }
            }
        }
    }
}

.services-box{

    .wrapper{
        background-color: $backgroundColour;
        height: 870px;
        width: 100%;
        position: relative;
    }

    .lines{
        position: absolute;
        right: 0%;
        bottom: 0%;
    }

    .section-title{
        padding-top: 50px; 
    }

    .container-extra{
        padding-top: 50px;
        text-align: center;
    }

    .consulting-grid-parent{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
        
        .whitebox{
            display:flex;
            background-color: white;
            width: 308px;
            height: 333px;
            justify-content: center;
            align-items: center;

            &:hover{

                background-color: #F9D783;
            }
                
        }

        .consulting-grid{

            padding: 25px;

            h3{
                font-family: $headFont;
                font-size: 22px;
                font-weight: 700;
            }

            p{
                color:#191919;
                opacity: 0.7;
                font-weight: 400;
                padding-bottom: 25px;
                padding-top: 25px;
            }

            .btn-intro{
                border: none;
                text-align: center;
                color: white;
                background-color: black;
                text-decoration: none;
                float: right;
                font-weight: 700;
                padding: 0px;
                border: 1px solid #191919;
                border-radius: 50%;

                i{
                    padding: 1rem;
                    border: 1px solid #191919;
                    border-radius: 50%;

                }
            }
        }
    }
}

.why-us{
    
    .wrapper{
        position: relative;

        .picture-left{
        
            img{
                position: absolute;
                left: 60%;
                bottom: 12%;
            }
    
            .box{
                width: 55%;
                height: 60%;
                position: absolute;
                background-color: $backgroundColour;
                left: 55%;
                top: 36%;
            }
        }
    }



    .container{
        display:flex;
        flex-direction: column;
        justify-content:space-between;

        .why-us-box{
            .container-extra{
                .reasons-box{
                    display: flex;
                    margin-bottom: 10px;
                    background-color: white;

                    .icon{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        i{
                            margin-right: 10px;
                            font-size: 18px;
                            border: 1px solid #908c8c6b;
                            border-radius: 50%;
                            padding: 10px;
                            justify-content: center;
                            align-items: center;
                        }

                    }

                    .text{

                        h4{
                            font-family: $headFont;
                            font-weight: 700;
                            font-size: 22px;
                        }

                        p{
                            font-family: $mainFont;
                            font-weight: 400;
                            font-size: 16px;
                            color: #19191966;
                        }

                    }
                        
                }
            }
        }
    }        
}
           
.project-case-section{
    .container{

        .btn-blk{
            margin-top: 25px;
        }
        .section-title{
            text-align: center;
        }
        
        .project-cases-grid{
            display: grid;
            grid-template-columns: 1fr;
            gap: 30px;

            @media(min-width: 1200px) {
                grid-template-columns: 1fr 1fr;
            }


            article{

                img{
                    width: 100%;
                }
                h3{
                    font-family: $headFont;
                    font-size: 22px;
                    font-weight: 700;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }
                a{
                    margin-right: 15px;
                    margin-top: 15px;
                    display: block;
                    text-align: right;
                    color: #191919;

                    &:hover{
                        color: #F94D1C;
                    }

                    i{
                        margin-left: 3px;
                    }
                }                
            }
        }
    }
}

.team-background{
    background-color: #F9D783;
    height: 1964px;
    margin-top: 75px;
    position: relative;

    .btn-blk-extra{
        position: absolute;
        left: 70%;
        top: 8.5%;
    }

    .member-pictures{
        padding-bottom: 120px;
        .container-extra{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;

        }

        .container-extra-extra{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            padding-top: 10px;

            .info-txt{

                h4{
                    color: #191919;
                    font-family: $headFont;
                    font-weight: 700;
                    font-size: 22px;
                }

                p{
                    color:#191919b1;
                    font-size: 16px;
                }
            }
        }

        .dots{
            display: block;
            margin: auto;
            padding-top: 10px;
        }
    }

    .testimonial-box{
        background-color: white;
        width: 75%;
        height: 887px;
        margin: auto;
        .section-title{
            text-align: center;
        }

        .testimonials{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;

            .test-content{
                width: 420px;
                padding-bottom: 25px;
                .stars{
                    padding-bottom: 25px;
                }

                .nameandpic{
                    display: flex;

                    .text{
                        padding-left: 15px;

                        h4{
                            font-family: $headFont;
                            font-size: 22px;
                            font-weight: 700;
                        }

                        p{
                            color: #F94D1C;
                        }
                    }

                }

            }
        }
    }
}

.news-section{
    position: relative;

    .btn-transparent{
        position: absolute;
        left: 65%;
        top: 21%;
        
    }

    .dots{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 35px;
        padding-bottom: 120px;
    }

    .news-boxes{

        .pictures{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
        }

        .text{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 15px;
            .text-box{

                h4{
                    font-family: $mainFont;
                    font-size: 16px;
                    font-weight: 400;
                    color:#6A6C71;
                    padding-top: 15px;
                }

                h3{
                    font-family: $headFont;
                    font-size: 22px;
                    font-weight: 700;
                    color:#191919;
                    padding-top: 15px;
                }

                p{
                    font-family: $mainFont;
                    font-size: 16px;
                    font-weight: 400;
                    color:#191919b1;
                    padding-top: 15px;
                }
            }

        }

    }

}

.newsletter{

    .wrapper{
        background-color: $backgroundColour;
        display: flex;
        justify-content: center;
        align-items: center;
        height:270px;
        position: relative;

        .lines{
            position: absolute;
            right: 0;
            bottom: 10%;
        }

        .form{

            label{
                font-family: $headFont;
                font-size: 45px;
                font-weight: 700;
                padding-right: 50px;
            }
        
            input{
                border-radius:30px ;
                outline: none;
                border: none;
                padding: 10px;
                margin-right: 20px;
            }
        }
    }
}

footer{

    section{
        background-color: #0E1021;
    }

    section.btm-link{

        padding-top: 120px;
        padding-bottom: 50px;
        position: relative;

        .lines{
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .logo{

            img{
                width: 66%;
            }

            p{
                color: white;
            }
        }

        .container{
            display: grid;
            grid-template-areas: 'grid-1 grid-2 grid-3 grid-4 grid-5';
            column-gap: 112px;
        }

        .links{

            display: flex;
            flex-direction: column;
            gap: 16px;
            color: $colourSecondary;

            h2 {
                font-family: $headFont;
                font-size: 22px;
                font-weight: 700;
                color: white;
            }

            a {
                color: $colourSecondary;
                display: flex;
                flex-direction: column;
            }

            .grid-1{                
                grid-area: grid-1;
            }

            .grid-2{                
                grid-area: grid-2;
            }

            .grid-3{                
                grid-area: grid-3;
            }

            .grid-4{                
                grid-area: grid-4;
            }

            .grid-5{                
                grid-area: grid-5;
            }

        }

    }

    section.media-end{
        padding: 15px 0;
        border-top: #cfcfcf35 1px solid;

        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;


            .copyright{
                color: rgba(255, 255, 255, 0.605);
            }

            a{
                padding-right: 10px;
                color:#ffffff;
                font-size: 1.2em;

                &:hover{
                    color: #908c8c;
                }

                i:hover{

                    animation: flash 1300ms infinite;
    
                    @keyframes flash {
                        0%{
                            transform: scale(1);
                        }
                
                        50%{
                            transform: scale(0.8);
                        }
                
                        100%{
                            transform: scale(1);
                        }
                    }
                }
            }
        }

    }

}