@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap");
html, body {
  color: #191919;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.wrapper-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}
header .container .menu-bars {
  font-size: 25px;
  border: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .menu {
    display: block;
  }
}
header .menu .top-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid #dad9d3;
  padding-bottom: 10px;
}
@media (min-width: 1200px) {
  header .menu .top-menu {
    justify-content: space-between;
  }
}
header .menu .top-menu .contact-info {
  display: none;
  align-items: center;
}
@media (min-width: 1200px) {
  header .menu .top-menu .contact-info {
    display: flex;
  }
}
header .menu .top-menu .contact-info .content-box {
  padding-right: 25px;
  margin-right: 30px;
  border-right: 1px solid #dad9d3;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 15px;
  font-weight: 300;
}
header .menu .top-menu .contact-info .content-box i {
  font-size: 1.2em;
}
header .menu .top-menu .contact-info .content-box.last {
  border: none;
}
header .menu .top-menu .socialmedia a {
  color: #191919;
  font-size: 1.2em;
}
header .menu .top-menu .socialmedia a:hover {
  color: #908c8c;
}
header .menu .mainmenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu .mainmenu nav a {
  display: inline-block;
  color: #191919;
  text-decoration: none;
  margin-right: 30px;
  position: relative;
}
header .menu .mainmenu nav a.active::after, header .menu .mainmenu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 15px;
  background-color: #191919;
  left: 50%;
  bottom: -3px;
  transform: translate(calc(50% - 15px));
}
header .menu .mainmenu .btn-login {
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-ylw {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #f9d783;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-ylw i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-ylw:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: underline;
}

.btn-transparent {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: transparent;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-transparent i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-transparent:hover {
  background-color: #191919;
  border: 1px solid #191919;
  color: #F0EFE9;
  text-decoration: underline;
}

.btn-blk {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #191919;
  border: 1px solid #191919;
  color: white;
  text-decoration: none;
  padding: 15px 25px;
  font-weight: 600;
  border-radius: 25px;
  font-size: 16px;
}
.btn-blk i {
  margin-left: 8px;
  font-size: 0.9em;
}
.btn-blk:hover {
  background-color: white;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: underline;
}

.section-title {
  padding-top: 120px;
  padding-bottom: 90px;
}
.section-title p {
  color: #F94D1C;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 18px;
  font-weight: 500;
}
.section-title h2 {
  color: #191919;
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 45px;
  font-weight: 700;
}

.showcase {
  background-color: #F0EFE9;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}
.showcase .container .content h1 {
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 700;
  font-size: 45px;
}
@media (min-width: 768px) {
  .showcase .container .content h1 {
    font-size: 70px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .content h1 {
    font-size: 85px;
  }
}
.showcase .container .content p {
  font-size: 14px;
  padding-top: 35px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .showcase .container .content p {
    font-size: 20px;
  }
}
.showcase .container .content a {
  display: block;
  margin-bottom: 20px;
  margin-right: 0px;
}
@media (min-width: 768px) {
  .showcase .container .content a {
    display: inline-block;
    margin-right: 10px;
  }
}
.showcase .container img {
  display: none;
  margin-right: -50px;
}
@media (min-width: 1200px) {
  .showcase .container img {
    display: block;
  }
}

.company-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-logos .container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: space-between;
}
.company-logos .container a {
  margin-right: 0px;
}
.company-logos .container a img {
  display: none;
  margin-right: 0px;
}
@media (min-width: 1200px) {
  .company-logos .container a img {
    display: block;
  }
}

.features-box {
  border: 1px solid rgba(187, 181, 181, 0.5019607843);
  padding: 120px;
  display: none;
  margin-bottom: 100px;
}
.features-box .section-title {
  padding-top: 0px;
}
@media (min-width: 1200px) {
  .features-box {
    display: flex;
    max-width: 1520px;
  }
  .features-box .container {
    gap: 30px;
    align-items: center;
    justify-content: space-between;
  }
}
.features-box .features-box-child {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 10px;
  padding-right: 70px;
}
.features-box .features-grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.features-box .features-grid-parent i {
  font-size: 25px;
  padding-bottom: 20px;
  color: #191919;
}
.features-box .features-grid-parent .span1 {
  font-weight: 700;
  color: #191919;
  padding-bottom: 10px;
}
.features-box .features-grid-parent .span2 {
  color: #84848a;
}

.founder-box {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.founder-box .blue-box-parent {
  display: none;
  position: relative;
  width: 1320px;
  height: 615px;
  justify-content: center;
}
@media (min-width: 1200px) {
  .founder-box .blue-box-parent {
    display: flex;
  }
}
.founder-box .blue-box-parent img {
  height: 615px;
  width: auto;
}
.founder-box .blue-box-parent .blue-box {
  width: 368px;
  height: 180px;
  padding: 20px;
  background-color: #BEEBFF;
  border: #BEEBFF solid 2px;
  position: absolute;
  bottom: 15px;
  left: 8px;
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  color: #191919;
}
.founder-box .blue-box-parent .blue-box .span-name {
  font-size: 18px;
  font-weight: 600;
}
.founder-box .blue-box-parent .blue-box .span-orange {
  color: #F94D1C;
  font-size: 16px;
  font-weight: 500;
}
.founder-box .blue-box-parent .about-company-box {
  width: 532px;
  height: 589px;
  margin-left: 150px;
}
.founder-box .blue-box-parent .about-company-box .section-title {
  padding-top: 70px;
  padding-bottom: 0px;
}
.founder-box .blue-box-parent .about-company-box .about-company-lorem1 {
  opacity: 0.7;
  padding-bottom: 30px;
  padding-top: 30px;
}
.founder-box .blue-box-parent .about-company-box .about-company-lorem2 {
  opacity: 0.7;
  padding-bottom: 30px;
}
.founder-box .blue-box-parent .about-company-box .btn-intro {
  background-color: white;
  border: none;
  text-align: center;
  color: #191919;
  text-decoration: none;
}
.founder-box .blue-box-parent .about-company-box .btn-intro span {
  margin-right: 10px;
  margin-left: 25px;
  padding: 0px;
  border-radius: 50%;
}
.founder-box .blue-box-parent .about-company-box .btn-intro span i {
  padding: 1rem;
  border: 1px solid #191919;
  border-radius: 50%;
}
.founder-box .blue-box-parent .about-company-box .btn-intro span i:hover {
  background-color: #191919;
  border: #191919 solid 2px;
  color: white;
}

.services-box {
  background-color: #F0EFE9;
  height: 870px;
  width: 100%;
}
.services-box .section-title {
  padding-top: 50px;
}
.services-box .container-extra {
  padding-top: 50px;
  text-align: center;
}
.services-box .consulting-grid-parent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.services-box .consulting-grid-parent .whitebox {
  display: flex;
  background-color: white;
  width: 308px;
  height: 333px;
  justify-content: center;
  align-items: center;
}
.services-box .consulting-grid-parent .whitebox:hover {
  background-color: #F9D783;
}
.services-box .consulting-grid-parent .consulting-grid {
  padding: 25px;
}
.services-box .consulting-grid-parent .consulting-grid h3 {
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 22px;
  font-weight: 700;
}
.services-box .consulting-grid-parent .consulting-grid p {
  color: #191919;
  opacity: 0.7;
  font-weight: 400;
  padding-bottom: 25px;
  padding-top: 25px;
}
.services-box .consulting-grid-parent .consulting-grid .btn-intro {
  border: none;
  text-align: center;
  color: white;
  background-color: black;
  text-decoration: none;
  float: right;
  font-weight: 700;
  padding: 0px;
  border: 1px solid #191919;
  border-radius: 50%;
}
.services-box .consulting-grid-parent .consulting-grid .btn-intro i {
  padding: 1rem;
  border: 1px solid #191919;
  border-radius: 50%;
}

.why-us {
  position: relative;
}
.why-us .picture-left img {
  position: absolute;
  left: 60%;
  bottom: 12%;
}
.why-us .picture-left .box {
  width: 55%;
  height: 60%;
  position: absolute;
  background-color: #F0EFE9;
  left: 55%;
  top: 36%;
}
.why-us .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.why-us .container .why-us-box .container-extra .reasons-box {
  display: flex;
  margin-bottom: 10px;
  background-color: white;
}
.why-us .container .why-us-box .container-extra .reasons-box .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.why-us .container .why-us-box .container-extra .reasons-box .icon i {
  margin-right: 10px;
  font-size: 18px;
  border: 1px solid rgba(144, 140, 140, 0.4196078431);
  border-radius: 50%;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.why-us .container .why-us-box .container-extra .reasons-box .text h4 {
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 700;
  font-size: 22px;
}
.why-us .container .why-us-box .container-extra .reasons-box .text p {
  font-family: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  font-size: 16px;
  color: rgba(25, 25, 25, 0.4);
}

.project-case-section .container .btn-blk {
  margin-top: 25px;
}
.project-case-section .container .section-title {
  text-align: center;
}
.project-case-section .container .project-cases-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}
@media (min-width: 1200px) {
  .project-case-section .container .project-cases-grid {
    grid-template-columns: 1fr 1fr;
  }
}
.project-case-section .container .project-cases-grid article img {
  width: 100%;
}
.project-case-section .container .project-cases-grid article h3 {
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 22px;
  font-weight: 700;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.project-case-section .container .project-cases-grid article a {
  margin-right: 15px;
  margin-top: 15px;
  display: block;
  text-align: right;
  color: #191919;
}
.project-case-section .container .project-cases-grid article a:hover {
  color: #F94D1C;
}
.project-case-section .container .project-cases-grid article a i {
  margin-left: 3px;
}

.team-background {
  background-color: #F9D783;
  height: 1964px;
  margin-top: 75px;
  position: relative;
}
.team-background .btn-blk-extra {
  position: absolute;
  left: 70%;
  top: 8.5%;
}
.team-background .member-pictures {
  padding-bottom: 120px;
}
.team-background .member-pictures .container-extra {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.team-background .member-pictures .container-extra-extra {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 10px;
}
.team-background .member-pictures .container-extra-extra .info-txt h4 {
  color: #191919;
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: 700;
  font-size: 22px;
}
.team-background .member-pictures .container-extra-extra .info-txt p {
  color: rgba(25, 25, 25, 0.6941176471);
  font-size: 16px;
}
.team-background .member-pictures .dots {
  display: block;
  margin: auto;
  padding-top: 10px;
}
.team-background .testimonial-box {
  background-color: white;
  width: 75%;
  height: 887px;
  margin: auto;
}
.team-background .testimonial-box .section-title {
  text-align: center;
}
.team-background .testimonial-box .testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.team-background .testimonial-box .testimonials .test-content {
  width: 420px;
  padding-bottom: 25px;
}
.team-background .testimonial-box .testimonials .test-content .stars {
  padding-bottom: 25px;
}
.team-background .testimonial-box .testimonials .test-content .nameandpic {
  display: flex;
}
.team-background .testimonial-box .testimonials .test-content .nameandpic .text {
  padding-left: 15px;
}
.team-background .testimonial-box .testimonials .test-content .nameandpic .text h4 {
  font-family: "DM Sans", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 22px;
  font-weight: 700;
}
.team-background .testimonial-box .testimonials .test-content .nameandpic .text p {
  color: #F94D1C;
}